$opaque-factor: 0.3;

$accent: #5b6ee7;
$accent-opaque: rgba($accent, $opaque-factor);
$secondary: #fff;
$secondary-opaque: rgba($accent, $opaque-factor);

$light-color: #fff;
$dark-color: #4d4b48;

$max-content-width: 1200px;

:export {
  accent: $accent;
  accentOpaque: $accent-opaque;
  secondary: $secondary;
  secondaryOpaque: $secondary-opaque;
  lightColor: $light-color;
  darkColor: $dark-color;
  maxContentWidth: $max-content-width;
}
